@model LabelViewModel

@{
    ViewData["Title"] = "Delete a label";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this label?</h3>
<hr />
<div>
    <partial name="Labels/_Details" />
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
