@model TaskItemViewModel

@{
    ViewData["Title"] = "Task details";
}

<h1>Details</h1>
<hr />
<div>
    <partial name="TaskItems/_Details" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
